<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.leparisien.fr/resizer/_Qgf9Z9wEwKqJdaGeGBaggxPA1s=/1280x800/arc-anglerfish-eu-central-1-prod-leparisien.s3.amazonaws.com/public/HAJOUE72SD4OBCQ7GZVVBZ3ZAQ.jpg);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container">

  <div class="d-flex justify-content-between my-5">

    <%= link_to 'ACCEUIL', lists_path, class: "btn btn-primary" %>

    <%= link_to 'ADD A BOOKMARK', new_list_bookmark_path(@list), class:"btn btn-primary"  %>

    <%= link_to 'DELETE THE LIST', list_path(@list), method: :delete, data: {confirm:'Are you sure'}, class:"btn btn-primary" %>
  </div>

  <% @list.bookmarks.each do |bookmark| %>
      <div class="card-product my-5">

        <div class="card-product-img" style="background-image:url('<%= bookmark.movie.poster_url %>'); background-size: cover;height: 313px;min-width: 200px;">
          </div>
          <div class="card-product-infos">
            <h2 class= 'p-2 mx-5'> Title : <%= bookmark.movie.title %></h2>
            <p class= 'p-2 ml-5'> <strong> Overview :  </strong><%= bookmark.movie.overview %> </p>
            <p class='p-2 mx-5'><strong> Rating : </strong><%= bookmark.movie.rating %></p>
            <p class='p-2 mx-5'> <strong> Comment : </strong><%= bookmark.comment %></p>
            <strong>
          </div>
          <div class="destroy">
            <%= link_to bookmark_path(bookmark), method: :delete, data: {confirm: "are you sure ?"} do %>
              <i class="fas fa-trash btn btn-info text-white rounded-circle"></i>
            <% end %>
          </div>
      </div>
  <%end %>


</div>
